.hero
  min-height: 80vh
  display: flex
  align-items: center

.hero .cover
  height: 100%
  object-fit: cover

.hero
  --hero-title-color: #$header-color

.hero h1, .surtitle
  color: var(--hero-title-color)
  font-weight: 500

figure figcaption p
  font-size: $font-size-base

